
.arena {
  margin: 30px;
  font-size: 40px;
  min-width:618px;

}

.arena .row {
    display: flex;
  /*border: 1px solid black;*/
  border-collapse: collapse;
}

.arena .row .cell {
  /*display: */
  border: 1px solid black;
  border-collapse: collapse;
  width: 80px;
  height: 80px;
  padding: 15px;
  background: lightcoral;

}

.arena .cell .player{
  width: 40px;
  height: 40px;
  position: relative;
}

.arena .cell .player:after{
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
}

.arena .cell .player.left:after {
  left: -10px;
  top: 10px;
}

.arena .cell .player.right:after {
  right: -10px;
  top: 10px;
}

.arena .cell .player.up:after {
  right: 10px;
  top: -10px;
}

.arena .cell .player.down:after {
  right: 10px;
  bottom: -10px;
}

.arena .cell .player.playerA{
  background-color: red;

}

.arena .cell .player.playerA:after {
  background-color: red;
}

.arena .cell .player.playerB{
  background-color: blue;

}

.arena .cell .player.playerB:after {
  background-color: blue;
}

.arena .diamond{
  background: gold;
  width: 25px;
  height: 25px;
  margin: 10px;
  transform: rotate(45deg);
}

.arena .bullet{
  background: brown;
  width: 25px;
  height: 25px;
  margin: 10px;
  border-radius: 100%;
  /*transform: rotate(45deg);*/
}

.arena .player.shooting:after{
  background-color: orange !important;
}

.arena .player.destroyed{
  background-color: black !important;
}

.arena .player.destroyed:after{
  background-color: black !important;
}

.tools{
  /*display: flex;*/
  text-align: center;
}

